


body {
  background-image:  url("/asset/ui/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.FACTION {
  grid-template-columns: repeat(6,minmax(0,1fr));
  margin-right: auto;
  display: grid;
  max-width: 500px;
  gap: .0rem .0rem;
}
.FACTION_DECK {
  grid-template-columns: repeat(6,minmax(0,1fr));
  margin-left: auto;
  display: grid;
  max-width: 500px;
  gap: .0rem .0rem;
}
.imgFactionDeck {
  width: 100%;
  height: auto;
  filter: grayscale(100%)
}
.imgFaction {
  width: 100%;
  height: auto;
}
.FactionCount{
  font-family: Chillax-Medium;
  font-weight: bold;
  font-size:40px;
  top:-10.25rem;
  position:relative;
  color: rgb(231, 233, 235);
}

.PAGE {
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
  padding: 1rem;
  grid-template-columns: repeat(2,minmax(0,1fr));
  display: grid;
  max-width: 4096px;
  position:relative;
  top:0%;

}
.carte {
  width: 100%;
  height: auto;
  cursor: pointer;
  position:relative;
}

.SEALED {
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
  padding: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(6,minmax(0,1fr));
  gap: .0rem .5rem;
  display: grid;
}
.DECK {
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  height:10%;
  grid-template-columns: repeat(8,minmax(0,1fr));
  gap: 0.25rem;
  display: grid;
}
.deck_count {
  background-color: rgb(30 32 54);
  font-family: Chillax-Medium;
  color: rgb(255 245 234);
  font-size: 100%;
  border-radius: .25rem;
  padding:10px;
}
.ManaCost{
  background-color: rgb(30 32 54);
  margin: 1px;
  padding-left: 1px;
  border-radius: .25rem;
  border-width: 4px;
  font-family: Chillax-Medium;
  color: rgb(231, 233, 235);
  background-color:rgba(231, 233, 235,0.75);
  font-size: 100%;
}
.imgHand{
	padding:5px;
	width:30%;
}
.ButtonCarte {
  top:-1.25rem;
  position:relative;
  font-family: Chillax-Medium;
  font-weight: bold;
  border: 0 solid #e5e7eb;
  border-radius: .25rem;
  border-width: 4px;
  width: 100%;
  cursor: pointer;
  color: rgb(255 245 234);
  background-color: rgb(30 32 54);
  border-color: rgb(30 32 54);
  font-size: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.imageView {
  width:25%;
  position:relative;
}
.scolling {
  position:sticky;
  top:10%;
  bottom:10%;
  z-index:1;
}