


body {
  background-image:  url("/asset/ui/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.LandName {
  font-size:1rem;
  color: #49423a;
  font-family: Chillax-Medium;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 1.5rem;
  padding-bottom: 2.5rem;
}
hgroup{
  margin-right:auto;
}
.LandValue {
  font-size:1.5rem;
  color: #49423a;
  font-family: Chillax-Medium;
  font-weight: bold;
  text-transform: uppercase;
}
.imgAttributs{
  min-width:2rem;
  /* margin-left: 4rem; */
  margin-top:auto;
  
}
.FOREST {
  background-color:#e2e1df;
  padding-left: .75rem;
  padding-right: .75rem;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  flex-grow: 1;
  display: flex;
  position: relative;
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
  max-height:50%;
}
.MONTAGNE {
  background-color:#e2e1df;
  padding-left: .75rem;
  padding-right: .75rem;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  flex-grow: 1;
  display: flex;
  position: relative;
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
  max-height:50%;
  max-weight:auto;
}
.OCEAN{
  background-color:#e2e1df;
  padding-left: .75rem;
  padding-right: .75rem;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  flex-grow: 1;
  display: flex;
  position: relative;
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
  max-height:50%;
}
.STASTISTIQUES{
  grid-template-columns: repeat(3,minmax(0,1fr));
  margin-left: auto;
  display: grid;
  gap: .0rem .5rem;
}
.DECK_STATUE{
  grid-template-columns: repeat(2,minmax(0,1fr));
  margin-left: auto;
  display: grid;
  gap: .0rem .0rem;
}
.STATUS {
  grid-template-columns: repeat(2,minmax(0,1fr));
  margin-right: auto;
  display: grid;
  gap: .0rem .0rem;
}
.ButtonFiltre {
  top:1rem;
  position:relative;
  color: #49423a;
  font-family: Chillax-Medium;
  padding-top: .75rem;
  padding-bottom: .75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #d4af37;
  border-bottom-right-radius: 16px;
  border-top-left-radius: 16px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: .875rem;
  line-height: 1.25rem;
  font-weight: 700;
  border: 0 solid #e5e7eb;
  display: flex;
  margin-left: auto;
}
.FACTION {
  grid-template-columns: repeat(6,minmax(0,1fr));
  margin-right: auto;
  display: grid;
  max-width: 500px;
  gap: .0rem .0rem;
}
.FACTION_DECK {
  grid-template-columns: repeat(6,minmax(0,1fr));
  margin-left: auto;
  display: grid;
  max-width: 500px;
  gap: .0rem .0rem;
}
.imgFactionDeck {
  top:-1.25rem;
  left:.50rem;
  position:relative;
  width: 80%;
  height: auto;
  filter: grayscale(100%);
}
.imgFaction {
  width: 100%;
  height: auto;
}
.FactionCount{
  font-family: Chillax-Medium;
  font-weight: bold;
  font-size:40px;
  top:-9rem;
  position:relative;
  color: rgb(231, 233, 235);
}

.PAGE {
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
  padding: 1rem;
  grid-template-columns: repeat(2,minmax(0,1fr));
  display: grid;
  max-width: 4096px;
  position:relative;
  top:0%;

}
.carte {
  width: 100%;
  height: auto;
  cursor: pointer;
  position:relative;
}

.SEALED {
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
  padding: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(6,minmax(0,1fr));
  gap: .0rem .5rem;
  display: grid;
}
.DECK {
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  height:10%;
  grid-template-columns: repeat(8,minmax(0,1fr));
  gap: 0.25rem;
  display: grid;
}
.deck_count {
  background-color: rgb(30 32 54);
  font-family: Chillax-Medium;
  color: rgb(255 245 234);
  font-size: 100%;
  border-radius: .25rem;
  padding:10px;
}
.ManaCost{
  background-color: rgb(30 32 54);
  margin: 1px;
  padding-left: 1px;
  border-radius: .25rem;
  border-width: 4px;
  font-family: Chillax-Medium;
  color: rgb(231, 233, 235);
  background-color:rgba(231, 233, 235,0.75);
  font-size: 100%;
}
.imgHand{
	padding:5px;
	width:30%;
}
p {
  margin-top: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
  margin-right: 0rem;
  font-size: 1rem;
}
.ButtonStartUI {
  font-family: Chillax-Medium;
  font-weight: bold;
  border: 0 solid #e5e7eb;
  border-radius: .25rem;
  border-width: 4px;
  cursor: pointer;
  color: rgb(255 245 234);
  background-color: rgb(30 32 54);
  border-color: rgb(30 32 54);
  width: 50%;
  margin:1vh;
  height: 47vh;
}
.ButtonUI {
  font-family: Chillax-Medium;
  font-weight: bold;
  border: 0 solid #e5e7eb;
  border-radius: .25rem;
  border-width: 4px;
  cursor: pointer;
  color: rgb(255 245 234);
  background-color: rgb(30 32 54);
  border-color: rgb(30 32 54);
  min-width: 49%;
}
.ButtonCarte {
  top:-1.25rem;
  position:relative;
  font-family: Chillax-Medium;
  font-weight: bold;
  border: 0 solid #e5e7eb;
  border-radius: .25rem;
  border-width: 4px;
  width: 100%;
  cursor: pointer;
  color: rgb(255 245 234);
  background-color: rgb(30 32 54);
  border-color: rgb(30 32 54);
  padding-left: 1rem;
  padding-right: 1rem;
}

.imageView {
  width:25%;
  position:relative;
}
.scolling {
  position:sticky;
  top:10%;
  bottom:10%;
  z-index:1;
}